<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h1>About me</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur laborum molestias nemo corporis exercitationem, adipisci totam vitae enim debitis, deleniti laudantium nobis dicta suscipit eligendi. Id non repellendus mollitia amet.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur laborum molestias nemo corporis exercitationem, adipisci totam vitae enim debitis, deleniti laudantium nobis dicta suscipit eligendi. Id non repellendus mollitia amet.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur laborum molestias nemo corporis exercitationem, adipisci totam vitae enim debitis, deleniti laudantium nobis dicta suscipit eligendi. Id non repellendus mollitia amet.</p>
    </div>
    
    <%- include('./partials/footer.ejs') %>
    
</body>
</html>